apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 296062569552.dkr.ecr.us-east-1.amazonaws.com/frontend:c1d45bb9d818e74aa96b4c72ceb5ea89e132897b
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
